# **SQL TECHNIQUES**

### 1. PREPARE ENVIRONMENT

In [1]:
#! pip3 install ipython-sql

In [2]:
# load SQL module
%load_ext sql

In [3]:
# Connect to SQL lite database
%sql sqlite://

'Connected: @None'

### 2. CREATE TABLE

In [4]:
%%sql
CREATE TABLE exercise_logs (
    id integer primary key autoincrement,
    type text, 
    minutes integer,
    calories integer,
    heart_rate integer
);

 * sqlite://
Done.

[]

### 3. INSERT DATA INTO TABLE

In [5]:
%%sql
INSERT INTO exercise_logs (type, minutes, calories, heart_rate) VALUES ('biking', 30, 100, 110);

 * sqlite://
1 rows affected.

[]

### 4. SELECT STATEMENTS

In [6]:
%%sql
SELECT * FROM exercise_logs

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110)]

In [7]:
%%sql
/* All the activities a user engaged in and the total amount of calories they burned */

SELECT type, SUM(calories) AS total_calories
FROM exercise_logs
GROUP BY type;

 * sqlite://
Done.

[('biking', 100)]

In [8]:
%%sql
/* Group the count of exercises by each heart rate zone */

SELECT COUNT(*),    
  CASE        
    WHEN heart_rate > 220 - 30 THEN 'above max'        
    WHEN heart_rate > round(.9 * (220 - 30)) THEN 'above target'
    WHEN heart_rate > round(.5 * (220 - 30)) THEN 'within target'
    ELSE 'below target'    
END AS 'heart_rate_zone'
FROM exercise_logs
GROUP BY heart_rate_zone;

 * sqlite://
Done.

[(1, 'within target')]

### 5. SUBQUERIES AND LIKE

In [9]:
%%sql

CREATE TABLE drs_favorites (
  id integer primary key,    /* Unique identifier */
  type text,                 /* Type of activity */
  reason text                /* Why the doctor recommends it */
)

 * sqlite://
Done.

[]

In [10]:
%%sql
INSERT INTO drs_favorites (type, reason)  VALUES ('running', 'improves cardiovascular health.');

 * sqlite://
1 rows affected.

[]

In [11]:
%%sql
SELECT * FROM exercise_logs WHERE type IN (SELECT type FROM drs_favorites WHERE reason LIKE "%cardiovascular%");

 * sqlite://
Done.

[]

### 6. ADDITIONAL MATERIALS

https://github.com/connor11528/cs-fundamentals/tree/master/sql